app:
  name: "main-service"

server:
  port: 8080

stats-server:
  url: ${STATS_SERVER_URL:http://localhost:9090}
spring:
  main:
    banner-mode: off

  sql:
    init.mode: always

    jpa:
      ddl-auto: validate
      show-sql: true
      database-platform: "org.hibernate.dialect.PostgreSQLDialect"
      properties:
        hibernate:
          dialect: "org.hibernate.dialect.PostgreSQLDialect"
          format_sql: true

  datasource:
    driver-class-name: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:5432/ewm"
    username: "ewm"
    password: "1234"

logging:
  level:
    root: INFO

    org.hibernate:
      SQL: DEBUG
      orm.jdbc.bind: trace

    org.springframework:
      web: DEBUG
      web.servlet.DispatcherServlet: DEBUG